<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    
    <p>number_of_adults : {{number_of_adults}}</p>
    <p>number_of_children : {{number_of_children}}</p>
    <p>number_of_rooms : {{number_of_rooms}}</p>
    <p>booking_date : {{booking_date}}</p>
    <p>include_travelling : {{include_travelling}}</p>
    <p>meta : {{HTTP_REFERER}}</p>
    


    {% endblock content %}

</body>
</html>